{% extends "base.html" %}
{% block content %}
<header>
  <div>MSGS</div>
  <div>
    {{ current_user.username }} ⏐ <a href="{{ url_for('signout') }}">Sign out</a>
  </div>
</header>
<hr>
<div>
  <p>Create new conversation</p>
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.username(placeholder="Username") }}
    </div>
    <div>
      {{ form.submit(value="Create") }}
    </div>
  </form>
</div>
<hr>
<div>
  {% for conversation in conversations %}
  <div>
    <a href="{{ url_for('conversation', conversation_id=conversation.conversation_id) }}">
      {{ conversation }}
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
