{% extends "base.html" %}

{% block content %}
<header>
  MSGS
  <a href="{{ url_for('signout') }}">Sign out</a>
</header>
<hr>
Welcome {{ current_user.username }}
<div class="d-flex">

</div>
<div>
  <form method="post">
    {{ form.username(class="form-control") }}
    {{ form.submit(class="btn btn-primary", value="submit") }}
  </form>
</div>
<hr>
<div class="d-flex flex-column">
  {% for conversation in conversations %}
    <a href="{{ url_for('conversation') }}">
      {{ conversation }}
    </a>
  {% endfor %}
</div>
{% endblock %}
