{% extends "base.html" %}

{% block title %}
<title>MSGS - Home</title>
{% endblock %}

{% block content %}
<div class="border min-h-screen border-slate-300">
  <header class="flex py-2 mx-2">
    <div class="flex-1">MSGS</div>
    <form method="post" action="{{ url_for('signout') }}">
      <span class="text-gray-400">{{ current_user.username }}</span> <span class="text-gray-500 mx-1">-</span> <input type="submit" class="text-sky-600 underline hover:cursor-pointer" value="Sign out">
    </form>
  </header>
  <hr>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="border my-2 py-1.5 rounded bg-slate-100 border-slate-300 px-2 mx-2">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  </div>
  <div class="flex mx-2 mt-1 py-1">
    <div class="me-2 border-r pr-3 border-slate-300">
      <p>Create a new conversation</p>
    </div>
    <form method="post" class="flex">
      {{ form.hidden_tag() }}
      <div>
        {{
          form.username(
            class="py-0.5 mx-3 me-4 px-2 border border-slate-300 rounded-md placeholder-slate-400 bg-slate-50 hover:border-slate-400",
            placeholder="Username"
          )
        }}
      </div>
      <div>
        {{ form.submit(value="Create",
        class="px-10 text-white py-0.5 bg-cyan-600 hover:bg-cyan-700 cursor-pointer rounded-md"
        ) }}
      </div>
    </form>
  </div>
  <hr class="my-1">
  <div class="mx-2">
    <p class="mb-2">My conversations</p>
    <div class="flex flex-col h-[25em] overflow-y-scroll border rounded-md my-auto bg-slate-50">
      {% for conversation in conversations %}
        <a class="mx-3 my-1" href="{{ url_for('conversation', conversation_id=conversation[0]) }}">
          <div class="border border-slate-300 py-2 rounded bg-white px-2 hover:border-blue-400 hover:bg-[#0000ff05]">
            <div class="flex">
              <span class="text-sky-600 grow">{{ conversation[1] }}</span>
              <span>&lt;latest message timestamp&gt;</span>
            </div>
            <div>
              &lt;latest message &gt;
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
